<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Sistema de Apoio Operacional do PROCON de Dourados">
        <meta name="author" content="Departamento de Tecnologia da Informação - Prefeitura de Dourados - MS">
        
        <meta property="og:title" content="PROCON de Dourados - MS"/>
        <meta property="og:image" content="http://procon.dourados.ms.gov.br/app/images/procon.jpg"/>
        <meta property="og:url" content="http://procon.dourados.ms.gov.br"/>
        <meta property="og:site_name" content="PROCON de Dourados - MS"/>
        <meta property="og:description" content="Sistema de Apoio Operacional do PROCON de Dourados"/>
        <meta name="twitter:title" content="PROCON de Dourados - MS" />
        <meta name="twitter:image" content="http://procon.dourados.ms.gov.br/app/images/procon.jpg" />
        <meta name="twitter:url" content="http://procon.dourados.ms.gov.br" />
        <meta name="twitter:card" content="Sistema de Apoio Operacional do PROCON de Dourados" />
        
        <link rel="apple-touch-icon" sizes="57x57" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="http://procon.dourados.ms.gov.br/app/images/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="http://procon.dourados.ms.gov.br/app/images/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="http://procon.dourados.ms.gov.br/app/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="http://procon.dourados.ms.gov.br/app/images/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="http://procon.dourados.ms.gov.br/app/images/favicon-16x16.png">
        <link rel="manifest" href="http://procon.dourados.ms.gov.br/app/images/manifest.json">
        <meta name="msapplication-TileColor" content="#232478">
        <meta name="msapplication-TileImage" content="http://procon.dourados.ms.gov.br/app/images/ms-icon-144x144.png">
        <meta name="theme-color" content="#232478">

        
    
        <title>PROCON - Dourados</title>
        
        {LIBRARIES}
        {HEAD}
        <!-- Google Fonts -->
        <link href="app/templates/{template}/plugins/node-waves/waves.css" rel="stylesheet" />
        <link href="app/templates/{template}/plugins/animate-css/animate.css" rel="stylesheet" />
        <link href="app/templates/{template}/css/style.css" rel="stylesheet">
        <link href="app/templates/{template}/css/themes/all-themes.css" rel="stylesheet" />
        
        <style>
        .navbar
        {
            position: relative;
        }
		#myVideo {
			position: fixed;
			right: 0;
			bottom: 0;
			min-width: 100%; 
			min-height: 100%;
			width: auto;
			height: auto;
			z-index: -1000;
		}
		.logo_pmd {
			margin:auto; 
			margin-top:5px;
			max-width:460px;
		}
        </style>
    </head>
    <video autoplay muted loop id="myVideo">
  		<source src="app/templates/theme4/images/stars.mp4" type="video/mp4">
	</video>
    <body>
        <div id="wrapper">
            <!-- Navigation -->
    
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            <div class="logo_pmd" align="center">
            	<img style="margin: auto;" src="app/images/procon.png" width="55%" alt=""/>
            </div>
    
            
        </div>
       
        <script src="app/templates/{template}/js/admin-login.js"></script>
    </body>
</html>